body {
	overflow: visible;  /*It seems like the default is overflow-x: hidden;*/
}

/*Experimental*/
.boxscore-container {
	overflow-x: scroll;
	overflow-y: scroll;
}

/*Experimental*/
.boxscore-container-scroll {
  height: 804px;
  /*width: auto;*/
  background-color: pink;
}

/*Need this to avoid null*/
.game-score {
	
}

.game-score-fixed {
	position: fixed;
	top: 0px;
	left: 0px; 
	right: 0px;
	z-index: 10;
	margin-bottom: 0px;
}

.visitor-name-fixed {
	position: fixed;
	top: 100px; /*100, height of the game-score table above this one*/
	left: 0px; 
	right: 0px;
	z-index: 10;
}

/*These containers are necessary for scrolling within them and not the entire document*/
#visitor-stats-container, #home-stats-container { 
	overflow: auto;
	/*overflow-x: scroll;*/
	/*overflow-y: scroll;*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
#visitor-stats-container::-webkit-scrollbar, #home-stats-container::-webkit-scrollbar { 
    display: none;
}

/* Hide scrollbar for IE and Edge */
#visitor-stats-container, #home-stats-container { 
    -ms-overflow-style: none;
}

.visitor-stats-container-fixed { /*Don't need this to be fixed*/
	/*border: 2px solid orange;*/
	/*background-color: teal;*/
	/*position: relative;*/
	/*top: 164px; 108 + 56 = 164, height of the two containers above this one*/
	/*left: 0px; */
	/*right: 0px;*/
	/*z-index: 10;*/
}

/*making this width super wide helps the inner table stick horizontally*/
#game-score-container {
	border: 2px solid black;
	background-color: red;
	width: 200vw; /*visitor or home stats table width, whatever is larger*/
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	/*position: fixed; This does not show up on mobile unless top or bottom: 0px; is added*/
	left: 0px; /*This does not show up on mobile unless top or bottom: 0px; is added*/
	/*right: 0px; This does not show up on mobile unless top or bottom: 0px; is added*/
	z-index: 50;
}

/*this width fills the viewport so the inner table sticks horizontally*/
#game-score-inside-container {
  border: 2px solid pink;
  background-color: purple;
  width: 100vw; /*Relative to 1% of the width of the viewport*/
  /*margin: 0 auto; this centers the element*/
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

#visitor-name-container {
	border: 2px solid aqua;
	background-color: black;
	width: 200vw; /*visitor or home stats table width, whatever is larger*/
	position: -webkit-sticky;
	position: sticky;
	top: 105px; /* game score table height*/
	/*position: fixed; This does not show up on mobile unless top or bottom: 0px; is added*/
	left: 0px; /*This does not show up on mobile unless top or bottom: 0px; is added*/
	/*right: 0px; This does not show up on mobile unless top or bottom: 0px; is added*/
	z-index: 40;
}

#visitor-name-inside-container {
  border: 2px solid blue;
  background-color: fuchsia;
  width: 100vw; /*Relative to 1% of the width of the viewport*/
  /*margin: 0 auto; this centers the element*/
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

#visitor-stats-container {
	border: 2px solid gray;
	background-color: green;
	/*overflow: auto;*/
	/*width: 200vw; /*visitor or home stats table width, whatever is larger*/
	/*position: -webkit-sticky;*/
	/*position: sticky;*/
	/*top: 155px;  game score plus visitor name table heights*/
	/*position: fixed; This does not show up on mobile unless top or bottom: 0px; is added*/
	/*left: 0px; This does not show up on mobile unless top or bottom: 0px; is added*/
	/*right: 0px; This does not show up on mobile unless top or bottom: 0px; is added*/
	/*position: relative;*/
}

#visitor-stats-inside-container {
  /*border: 2px solid lime;*/
  /*background-color: maroon;*/
  /*width: 100vw; Relative to 1% of the width of the viewport*/
  /*margin: 0 auto; this centers the element*/
  /*position: -webkit-sticky;*/
  /*position: sticky;*/
  /*left: 0px;*/
}

/*Fix the header to the top...thead...1st row*/
#visitor-stats-container table thead tr:first-of-type th {
	position: -webkit-sticky; /*sticky does not work here*/
	position: sticky; /*sticky does not work here*/
	top: 0px; /*game score plus visitor name table heights*/
	/*the top XXpx just shoves the th down a bit and nothing scrolls under it*/
	background-color: cyan;
}

/*Fix the first column  to the left...tbody*/
.visitor-stats tbody td:first-of-type{
	position: -webkit-sticky;
	position: sticky;
	/*background-color: white;*/
	left: 0px;
	font-weight: bold;
	border-right: 2px outset #F9FAFB;
}

/* Edit: corner fixed always...thead...1st row */
.visitor-stats thead tr:first-of-type th:first-of-type{
	z-index: 10;
	left: 0;
	/*background-color: black;*/
	border-right: 2px outset #F9FAFB;
}

/*Zebra Stripe the first cell of the table rows*/
.visitor-stats tr:nth-child(odd) td:first-of-type{
	background-color: #FFFFFF;
	border-right: 2px outset #F9FAFB;
}

/*Zebra Stripe the first cell of the table rows*/
.visitor-stats tr:nth-child(even) td:first-of-type{
	background-color: #F9FAFB;
	border-right: 2px outset #F9FAFB;
}

/*Bold the Footer*/
.visitor-stats tfoot tr:first-of-type th {
	font-weight: bold;
}

/* Edit: 1st cell fixed always...tfoot...1st row */
.visitor-stats tfoot tr:first-of-type th:first-of-type{
	z-index: 9;
	left: 0;
	/*background-color: black;*/
	border-right: 2px outset #F9FAFB;
	position: -webkit-sticky;
	position: sticky;
}

/*Experimental*/
.game-info { /*seems like I need overflow to get the onScroll to work. I hope to hide the scroll bar, one day*/
	overflow: auto;
	/*overflow-x: hidden;*/
}

/*Experimental*/
.game-info-scroll {
  height: 500px;
  width: auto;
  background-color: coral;
}


/*Fix the header to the top...thead...1st row*/
.freeze-head-and-col thead tr:first-of-type th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px; 
	background-color: cyan;
}

/*166, // height of game score container div plus the visitor name div*/

/*Fix the header under team name...thead...1st row*/
.freeze-head-and-col-fixed thead tr:first-of-type th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px; /*100 + 47 = 147, height of the two containers above this one*/
	background-color: cyan;
	z-index: 0;
}

/*Fix the first column  to the left...tbody*/
.freeze-head-and-col td:first-of-type{
	position: -webkit-sticky;
	position: sticky;
	/*background-color: white;*/
	left: 0px;
	font-weight: bold;
}

/*Fix the first column  to the left...tbody*/
.freeze-head-and-col-fixed td:first-of-type{
	position: -webkit-sticky;
	position: sticky;
	left: 0px;
	font-weight: bold;
	z-index: 0;
}




/* Edit: corner fixed always...thead...1st row */
.freeze-head-and-col thead tr:first-of-type th:first-of-type{
	z-index:9;
	left: 0;
	/*background-color: black;*/
}

/* Edit: corner fixed always...thead...1st row */
.freeze-head-and-col-fixed thead tr:first-of-type th:first-of-type{
	z-index:9;
	left: 0;
	/*background-color: black;*/
	border-right: 2px outset #F9FAFB;
}

/*Bold the Footer*/
.freeze-head-and-col tfoot tr:first-of-type th {
	font-weight: bold;
}

/*Bold the Footer*/
.freeze-head-and-col-fixed tfoot tr:first-of-type th {
	font-weight: bold;
}

/* Edit: 1st cell fixed always...tfoot...1st row */
.freeze-head-and-col tfoot tr:first-of-type th:first-of-type{
	z-index:8;
	left: 0;
	/*background-color: black;*/
	position: -webkit-sticky;
	position: sticky;
}

/* Edit: 1st cell fixed always...tfoot...1st row */
.freeze-head-and-col-fixed tfoot tr:first-of-type th:first-of-type{
	z-index:8;
	left: 0;
	/*background-color: black;*/
	border-right: 2px outset #F9FAFB;
	position: -webkit-sticky;
	position: sticky;
}

/*Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col tr:nth-child(even) td:first-of-type{
	background-color: #F9FAFB;
}

/*Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col-fixed tr:nth-child(even) td:first-of-type{
	background-color: #F9FAFB;
	border-right: 2px outset #F9FAFB;
}

/*Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col tr:nth-child(odd) td:first-of-type{
	background-color: #FFFFFF;
}

/*Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col-fixed tr:nth-child(odd) td:first-of-type{
	background-color: #FFFFFF;
	border-right: 2px outset #F9FAFB;
}


@media only screen and (max-width: 768px) {

}





