body {
	overflow: visible;  /*It seems like the default is overflow-x: hidden;*/
}

.boxscore-container {
	overflow-x: scroll;
	overflow-y: scroll;
}

.boxscore-container-scroll {
  height: 804px;
  /*width: auto;*/
  background-color: pink;
}

.game-score {
	/*max-width: 360px;*/
	border: 2px solid purple;
	height: 46px;
	width: auto;
}

.game-info { /*seems like I need overflow to get the onScroll to work. I hope to hide the scroll bar, one day*/
	overflow: auto;
	/*overflow-x: hidden;*/
}

.game-info-scroll {
  height: 500px;
  width: auto;
  background-color: coral;
}

.visitor-name {
	/*padding-right: 200px;*/
}

/*Fix visitor name to the top*/
.visitor-name tr:first-of-type th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: red;
}

/*Fix visitor name to the left*/
.visitor-name th:first-of-type{
	position: -webkit-sticky;
	position: sticky;
	left: 0px;
	/*font-weight: bold;*/
}

/* Edit: corner fixed always */
.visitor-name tr:first-of-type th:first-of-type{
	z-index:100;
	left: 0;
	/*background-color: black;*/
	border-right: 2px outset #F9FAFB;
}

/*Fix the header to the top...1st row*/
.freeze-head-and-col tr:first-of-type th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: cyan;
}

/*Fix the header to the top...2nd row*/
.freeze-head-and-col tr:nth-child(2) th {
	position: -webkit-sticky;
	position: sticky;
	top: 65px; /*gotta figure out how to make this variable*/
	background-color: cyan;
}

/*Fix the first column  to the left*/
.freeze-head-and-col td:first-of-type{
	position: -webkit-sticky;
	position: sticky;
	/*background-color: white;*/
	left: 0px;
	font-weight: bold;
}

/* Edit: corner fixed always...1st row */
.freeze-head-and-col tr:first-of-type th:first-of-type{
	z-index:100;
	left: 0;
	/*background-color: black;*/
	border-right: 2px outset #F9FAFB;
}

/* Edit: first cell fixed always...2nd row */
.freeze-head-and-col tr:nth-child(2) th:first-of-type{
	z-index:100;
	left: 0;
	/*background-color: black;*/
	border-right: 2px outset #F9FAFB;
}

/*Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col tr:nth-child(even) td:first-of-type{
	background-color: #F9FAFB;
	border-right: 2px outset #F9FAFB;
}

/*Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col tr:nth-child(odd) td:first-of-type{
	background-color: #FFFFFF;
	border-right: 2px outset #F9FAFB;
}


/*Delete Below...*/
/*Show outset border on Edit: corner fixed always*/
.freeze-head-and-col-show tr:first-of-type th:first-of-type{
	border-right: 2px outset #F9FAFB;
}

/*Show outset border on Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col-show tr:nth-child(even) td:first-of-type{
	border-right: 2px outset #F9FAFB;
}

/*Show outset border on Zebra Stripe the first cell of the table rows*/
.freeze-head-and-col-show tr:nth-child(odd) td:first-of-type{
	border-right: 2px outset #F9FAFB;
}







